{% extends "base.html" %}

{% block title %}Welcome to ExamIDE{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to ExamIDE!</h1>
        <p class="lead">The integrated platform for conducting placement exams.</p>
        <hr class="my-4">
        {% if current_user.is_authenticated %}
            <p>Welcome back, {{ current_user.username }}!</p>
        {% else %}
            <p>Please log in or register to continue.</p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('main.login') }}" role="button">Login</a>
            <a class="btn btn-secondary btn-lg" href="{{ url_for('main.register') }}" role="button">Register</a>
        {% endif %}
    </div>
{% endblock %}